<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div class="contenedor-principal">
        <a href="/ejercicio1" class="boton-ejercicio violeta">
            Ejercicio 1
        </a>

        <a href="/ejercicio2" class="boton-ejercicio verde-lima">
            Ejercicio 2
        </a>
    </div>
</body>
</html>